<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h5>Name : MITHLESH KUMAR</h5>
            <h5>Email : mmithleshchouhan@gmail.com</h5>
            <h5>Github : <a href="https://github.com/mmithlesh">https://github.com/mmithlesh</a></h5>
            <h5>Linkedin : <a href="https://www.linkedin.com/in/mithlesh-kumar-9a6786115/">https://www.linkedin.com/in/mithlesh-kumar-9a6786115/</a></h5>
            <img class="portrait" src="/img/me.JPG">
        </div>
        
        {{>footer}}
    </body>
</html>