<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p><b><i>It uses data from the mapbox.com and weatherstack.com</i></b></p>
            <p>{{errorText}}</p>
        </div>
        {{>footer}}
    </body>
</html>